Hi,

Someone has requested a link to change your notesy password. You can do this by visiting the link below.

<%= resetLink %>

If you didn't request this, please ignore this email. Your password won't change unless you follow the link above and create a new one.
