$c-page-bg: #F8F8F8;
$c-border: #BDBDBD;

$c-light-grey: #BBBBBB;
$c-mid-grey: #8D8D8D;
$c-grey: #444444;

$c-green: #97C765;
$c-red: #DF4230;
$c-blue: #96C0E6;

.u-c-light-grey {
  color: $c-light-grey;
}

.u-c-mid-grey {
  color: $c-mid-grey;
}

.u-c-grey {
  color: $c-grey;
}

.u-c-page-bg {
  color: $c-page-bg;
}

.u-c-border {
  color: $c-border;
}

.u-c-green {
  color: $c-green;
}

.u-c-red {
  color: $c-red;
}

.u-c-blue {
  color: $c-blue;
}
