<keybinding keys="d" on-press="showDeleteModal()"></keybinding>
<keybinding keys="f" on-press="focusEditor()"></keybinding>

<main class="main">
  <header class="note-actions main__header">
    <a class="action action--back u-c-light-grey" ui-sref="auth.notes()">
      <i class="fa fa-chevron-left"></i>
    </a>

    <button class="action action--delete u-c-light-grey" ng-click="showDeleteModal()" title="Delete">
      <i class="icon icon--delete"></i>
      <span class="action__text">Delete note</span>
    </button>
  </header>

  <div ng-if="!isTouch" class="editor-wrapper">
    <div ui-codemirror="editorOptions" ng-model="note.text"></div>
  </div>

  <div ng-if="isTouch" class="editor-wrapper">
    <textarea class="editor" ng-model="note.text" init-focus></textarea>
  </div>
</main>
