<keybinding keys="d" on-press="showDeleteModal()"></keybinding>
<keybinding keys="f" on-press="focusEditor()"></keybinding>

<main class="main">
  <header class="note-actions main__header">
    <button class="action u-c-light-grey" ng-click="showDeleteModal()">
      <i class="fa fa-trash-o"></i>
    </button>
  </header>

  <div ng-if="!isTouch" class="editor-wrapper">
    <div ui-codemirror="editorOptions" ng-model="note.text"></div>
  </div>

  <div ng-if="isTouch" class="editor-wrapper">
    <textarea class="editor" ng-model="note.text" init-focus></textarea>
  </div>
</main>
