@font-face {
  font-family: 'Source code pro';
  src: url('/fonts/sourcecodepro-regular-webfont.eot');
  src: url('/fonts/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/sourcecodepro-regular-webfont.woff') format('woff'),
       url('/fonts/sourcecodepro-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
