@import "base/sizes.scss";

.u-text-xs   { font-size: $t-xs; }
.u-text-t-s  { font-size: $t-s; }
.u-text-t-m  { font-size: $t-m; }
.u-text-t-xm { font-size: $t-xm; }
.u-text-t-l  { font-size: $t-l; }

.u-text-left   { text-align: left; }
.u-text-center { text-align: center; }
.u-text-right  { text-align: right; }


.u-text-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
