<main class="user-form">
  <h1 class="user-form__heading">Create an account</h1>

  <div class="form-errors" ng-show="error">{{error}}</div>

  <form novalidate class="user-form__body" ng-submit="createUser()">

    <label class="label" for="email">Email address</label>
    <input class="input" type="email" ng-model="form.name" />

    <label class="label" for="email">Password</label>
    <input class="input" type="password" ng-model="form.password" />

    <button class="user-form__body__btn btn btn--green btn--large">
      Sign up
    </button>

    <div class="u-text-t-s u-text-center">
      Already have an account? <a ui-sref="sessions()">Log in here</a>
    </div>
  </form>
</main>
