@import "base/sizes.scss";
@import "base/colours.scss";
@import "base/media-queries.scss";

.app-header {
  margin-left: $sidebar-width;
  height: $s-header-height;
  margin-bottom: -1px;
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid lighten($c-light-grey, 20%);

  @include respond-to(mobile) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 0;
    z-index: 3;
    border-top: 1px solid lighten($c-light-grey, 20%);
    border-bottom: none;
  }
}

.app-header__settings {
  display: inline-block;
  position: relative;
  top: 3px;
  margin: 0;
}

.app-header__settings__dropdown {
  display: none;
  position: absolute;
  top: 40px;
  right: -7px;
  width: 180px;
  margin: 0;
  padding: 0;
  z-index: 200;

  background: #fff;
  border: 1px solid lighten($c-light-grey, 20%);
  border-radius: 3px;
  box-shadow: 0 1px 5px 0 rgba(67, 81, 102, 0.2);
  list-style: none;

  &:before, &:after {
    content: "";
    position: absolute;
    top: -8px;
    right: 8px;
    border-style: solid;
    border-width: 0 9px 8px;
    border-color: transparent transparent #fff;
  }

  &:before {
    top: -9px;
    right: 7px;
    border-width: 0 10px 9px;
    border-bottom-color: lighten($c-light-grey, 20%);
  }
}

.open > .app-header__settings__dropdown {
  display: block;
}

.app-header__settings__dropdown__item {
  display: block;
  width: 100%;
  padding: $s-s $s-m;

  background: none;
  border: none;
  border-bottom: 1px solid lighten($c-light-grey, 20%);
  color: $c-grey;
  font-size: $t-s;
  text-align: left;

  &:hover {
    background: $c-page-bg;
    border-bottom-color: lighten($c-light-grey, 20%);
    color: lighten($c-grey, 10%);
  }
}

:last-child > .app-header__settings__dropdown__item {
  border-bottom: none;
}

.app-header__settings__dropdown__icon {
  color: $c-light-grey;
}
