@import "base/sizes.scss";
@import "base/colours.scss";

.import__file-list {
  height: 300px;
  overflow: scroll;
  margin: 0;
  padding: $s-m $s-l;
  list-style: none;
  background: $c-page-bg;
}

.import__file-breadcrumbs {
  padding: $s-xs $s-l;
  border-bottom: 1px solid lighten($c-light-grey, 20%);
}

.import__actions {
  min-height: 55px;
}

.import__actions__checkbox {
  line-height: 35px;
}

.import__progress {
  width: 100%;
}
