@import "base/sizes.scss";
@import "base/colours.scss";

.main {
  position: absolute;
  left: $sidebar-width;
  top: $s-header-height;
  right: 0;
  bottom: 0;
  padding: 30px;
  background: #fff;
}

.main__header {
  height: $s-header-height;
  margin-top: -$s-header-height - 30px;
  float: left;
  padding: 10px;
  z-index: 2;
}
