@import "base/sizes.scss";
@import "base/colours.scss";

.main {
  position: absolute;
  overflow: hidden;
  left: $sidebar-width;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}

.main__header {
  height: $s-header-height;
  margin-bottom: -1px;
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid lighten($c-light-grey, 20%);
}
