@import "base/sizes.scss";
@import "base/colours.scss";

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
  border-right: 1px solid lighten($c-light-grey, 20%);
}

.sidebar__header {
  height: $s-header-height;
  margin-bottom: -1px;
  padding: 9px 10px 11px;
  background: #fff;
  border-bottom: 1px solid lighten($c-light-grey, 20%);
}

.sidebar__header__search {
  position: relative;
  top: -2px;
  width: 210px;
}

.sidebar__body {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.sidebar__body__list {
  overflow: scroll;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar__body__list__item {
  min-height: 72px;
  border-bottom: 1px solid lighten($c-light-grey, 20%);

  &:last-child {
    border-bottom: none;
  }

  &.is-active {
    background: #fff;
  }
}

.sidebar__body__list__item__link {
  overflow: hidden;
  display: block;
  padding: 10px;

  &:hover {
    border-bottom: none;
  }
}

.sidebar__body__list__item__link__title {
  float: left;
  width: 60%;
  color: $c-grey;
}

.sidebar__body__list__item__link__meta {
  display: block;
  float: right;
  width: 40%;
  color: $c-light-grey;
  font-size: $t-xs;
  text-align: right;
  line-height: 2.4;
}

.sidebar__body__list__item__link__body {
  display: block;
  color: $c-light-grey;
  font-size: $t-s;
}

.sidebar__body__empty {
  padding: 10px;
  background: url(/images/arrow.png) no-repeat 12px 5px;
  background-size: 41px;
}
