<h1 class="modal__header">
  Import {{files.length}} notes from <code>/Dropbox{{path}}</code>
</h1>

<ul class="import__file-list">
  <li ng-repeat="file in files | filter:isFile | orderBy:'name' ">
    <span class="fa fa-file-o u-margin-Rs"></span>
    {{file.name}}
  </li>
</ul>

<div class="modal__actions import__actions" ng-hide="isImporting">
  <div class="import__actions__checkbox u-pull-left">
    <label for="includeTitle">Include file name as note title?</label>
    <input type="checkbox" ng-model="form.includeTitle" name="includeTitle" id="includeTitle" />
  </div>

  <div class="u-pull-right">
    <button ng-click="cancel()" class="btn btn--grey btn--hollow">Cancel</button>
    <button ng-click="import()" class="btn btn--green u-margin-Ls">Import</button>
  </div>
</div>

<div class="modal__actions import__actions u-text-center" ng-show="isImporting">
  Importing {{importedCount}}/{{files.length}} don't close your browser window
  until it's done!
  <progress max="{{files.length}}" value="{{importedCount}}" class="import__progress"></progress>
</div>
