<main class="main">
  <button ng-if="!isAuthenticated" ng-click="authenticate()">
    Connect to dropbox
  </button>

  <ul ng-if="isAuthenticated">
    <li>
      <span ng-repeat="path in parents">
        <a ng-if="!path.isCurrent" ui-sref="auth.notes.importDropbox({ path: path.path })">
          {{path.name}}
        </a>
        <span ng-if="path.isCurrent">{{path.name}}</span>
      </span>
    </li>
    <li ng-repeat="file in files | orderBy:['isFile', 'name']">
      <span ng-if="file.isFolder" class="fa fa-folder"></span>
      <span ng-if="file.isFile" class="fa fa-file-o"></span>
      <a ng-if="file.isFolder" ui-sref="auth.notes.importDropbox({ path: file.path })">
        {{file.name}}
      </a>
      <span ng-if="file.isFile">{{file.name}}</span>

      <button ng-if="file.isFolder" ng-click="importFrom(file.path)">
        Import <span ng-if="file.isFolder">this folder</span>
      </button>
    </li>
    <li ng-if="!files.length">(No text files in this folder)</li>
  </ul>
</main>
